1) Data Description Player Data:
- 196 observations, 7 variables

    Variable Name: What the Variable Means; Type of Variable; Issues
  
  experience: player's self-reported or assigned experience level; object; Unknown how experience was determined
  
  subscribe: indicates if the player has an active subscription to the newsletter; boolean; None known
  
  hashedEmail: hashed version of player's email for privacy purposes; string; not helpful in determining anything for our analysis, will be dropped
  
  played_hours: number of hours player was logged into server; float; large range, may need to be standardized
  
  name:  player's preffered name; string; none known
  
  gender: player's gender; object; none known
  
  age: player's age; integer; someone aged 99, which is a large outlier and unlikely to be true
  
  individualID: n/a; float; needs to be dropped, no data
  
  organizationName: n/a; float; needs to be dropped, no data

2. Question:

Our group has decided to choose question 2: We would like to know which "kinds" of players are most likely to contribute a large amount of data so that we can target those players in our recruiting efforts.

Within that question, I aim to consider "can we predict hours played using gender and age?

The data will help answer this question. A bar and point graph could be made using the axis to determine if there's a correlation between the variables or if it's all just random. In its current form, the data requires no wrangling per se. Applying a standardization could help if knn is chosen for our predictor model however, it's likely linear will be used, meaning no wrangling needs to be done.

In [10]:
# 3 Exploratory Data Analysis and Visualization:

import pandas as pd
url_player = "https://drive.google.com/uc?export=download&id=1Mw9vW0hjTJwRWx0bDXiSpYsO3gKogaPz"
url_session = "https://drive.google.com/uc?export=download&id=14O91N5OlVkvdGxXNJUj5jIsV5RexhzbB"
player_data = pd.read_csv(url_player)
session_data = pd.read_csv(url_session)
player_data

,experience,subscribe,hashedEmail,played_hours,name,gender,age,individualId,organizationName
0,Pro,True,f6daba428a5e19a3d47574858c13550499be23603422e6...,30.3,Morgan,Male,9,NaN,NaN
1,Veteran,True,f3c813577c458ba0dfef80996f8f32c93b6e8af1fa9397...,3.8,Christian,Male,17,NaN,NaN
2,Veteran,False,b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3...,0.0,Blake,Male,17,NaN,NaN
3,Amateur,True,23fe711e0e3b77f1da7aa221ab1192afe21648d47d2b4f...,0.7,Flora,Female,21,NaN,NaN
4,Regular,True,7dc01f10bf20671ecfccdac23812b1b415acd42c2147cb...,0.1,Kylie,Male,21,NaN,NaN
...,...,...,...,...,...,...,...,...,...
191,Amateur,True,b6e9e593b9ec51c5e335457341c324c34a2239531e1890...,0.0,Bailey,Female,17,NaN,NaN
192,Veteran,False,71453e425f07d10da4fa2b349c83e73ccdf0fb3312f778...,0.3,Pascal,Male,22,NaN,NaN
193,Amateur,False,d572f391d452b76ea2d7e5e53a3d38bfd7499c7399db29...,0.0,Dylan,Prefer not to say,17,NaN,NaN
194,Amateur,False,f19e136ddde68f365afc860c725ccff54307dedd13968e...,2.3,Harlow,Male,17,NaN,NaN
195,Pro,True,d9473710057f7d42f36570f0be83817a4eea614029ff90...,0.2,Ahmed,Other,91,NaN,NaN

In [20]:
import altair as alt

age_hour_graph = alt.Chart(player_data).mark_point(color="black").encode(
    x = alt.X("age").title("Age").scale(domain=[5,55]),
    y = alt.Y("played_hours").title("Hours Played").scale(StandardScaler())
)
age_hour_graph

NameError: name 'StandardScaler' is not defined